<div id="root" style="left: 100px; top: 100px;">
  <div id="taarten" class="zoomTarget">
    <div class="low-detail">Taarten</div>
    <ul class="high-detail">
      <li class="zoomTarget">
      <div class="low-detail">Appeltaart</div>
      <div class="high-detail">
        <img src="http://appeltaartrecepten.com/wp-content/uploads/Klassieke-appeltaart.png" width="100%" height="auto">
        <form>
          <input type="checkbox" name="topping" value="slagroom">Slagroom</input>
          <input type="checkbox" name="topping" value="kersen">Kersen</input>
          <input type="submit" value="Bestellen"></input
        </form>
      </div>
      </li>
      <li class="zoomTarget">
      <div class="low-detail">Bananentaart</div>
      <div class="high-detail">
        <div class="zoomTarget">
          <div class="low-detail">Bananentaart</div>
          <div class="high-detail">
            <div class="zoomTarget">
              <div class="low-detail">Bananentaart</div>
              <div class="high-detail">
                <div class="zoomTarget">
                  <div class="low-detail">Bananentaart</div>
                  <div class="high-detail">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="zoomTarget">
          <div class="low-detail">Bananentaart</div>
          <div class="high-detail">
            <div class="zoomTarget">
              <div class="low-detail">Bananentaart</div>
              <div class="high-detail">
                <div class="zoomTarget">
                  <div class="low-detail">Bananentaart</div>
                  <div class="high-detail">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </li>
    </ul>
  </div>
  <div id="dranken" class="zoomTarget">
    <div class="low-detail">Dranken</div>
    <ul class="high-detail">
      <li>Bier</li>
      <li>Wijn</li>
    </ul>
  </div>
</div>
